body {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;

}

div {
	white-space: nowrap;
}

.hint {
	margin-top: 0px;
	margin-left: 550px;
	float: left;
}

.Background {
	margin-top: 300px;
	margin-left: 950px;

}

.hint-text {
	font-size: 25px;
	color: #F0F0F0;
	margin-top: 150px;
	margin-right: 10px;
}

.hint-interior-text {
	font-size: 25px;
	color: #F0F0F0;
	margin-left: 150px;
}

.InputSize {
	width: 250px;
	height: 40px;
	  border-radius: 7px;
	  border: 1px solid #DBDBDB;
}

.PasWord {
	width: 250px;
	height: 40px;
	  border-radius:7px;
	  border: 1px solid #DBDBDB;
}

userName>i {
	width: 20px;
	height: 20px;
}

.btnAll {
	width: 180px;
	height: 45px;
	font-size: 0.8em;
	margin-top: 150px;
 border: 1px solid rgba(34,214,255, 0.5);
	margin-left: -212px;
	border-radius:7px;
}
