
.reamrk{
	margin-left: 50px;
	width: 100px;
	height: 45px;
}
#font0{
	font-size: 20px;
	padding: 5px 180px;
}
.top {

	background-color: #669df6;
	height: 35px;
	width: 500px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.wapper{
	width: 500px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -250px;
	border-radius: 35px;
	border-color:  #dadada;
} 
#user_name,
#password,
#check_password,
#old_password,
#new_password,
#job,
#tel,
.relartion_user_id,
.remark,
.emp_date {
	position: absolute;
	width: 200px;
	height: 25px;
	left: 220px;
	
}

.relation_user,
.select_wapper,
.select_radio,
.emp_name_wapper,
.emp_num_wapper,
.remark_wapper {
	top: 50px;
	width: 400px;
	height: 30px;
	margin-top: 25px;
	margin-left: 80px;
}
.box{
	width: 500px;
	height: 600px;
	position: absolute;
	top: 50%;
	margin-top: -300px;
}
.btn_wapper{	
	top: 50px;
	width: 400px;
	height: 30px;
	margin-top: 25px;
	margin-left:100px;
}
.back,
.ok {
	width: 90px;
	height: 32px;
	margin-top: 25px;
	margin-left: 15px;
	border: #f6fffe solid 0px;
	background-color: #669df6;
	color: #FFFFFF;
}
